<!DOCTYPE html>
<html>
<head>
	<title>Saas</title>
	<%= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<%= link_to dashboard_path, class: 'navbar-brand' do %>
					Saas
				<% end %>
		</div>

		<form class="navbar-form navbar-right" role="search">
			<div class="form-group">
				<input type="text" class="form-control" name="search" placeholder="Search" value="<%= params[:search] %>">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</nav>

	<%= yield %>

</body>
</html>
