<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Saas</title>
	<%= stylesheet_link_tag		'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= favicon_link_tag 'favicon.jpg' %>
</head>
<body>
    <%= if current_user.present? then render partial: 'layouts/header.html.erb' end %>
    <%= render partial: 'layouts/nprogress.html.erb' %>
	<%= yield %>

</body>
</html>
